td{

   width: 10px;
   height: 8px;
   border-collapse: collapse ;
   border-radius: 5px;
   border: 1px solid black;
}

table{
   margin: 20px auto 0 auto;
}
body{
   text-align: center;
}

image{
    margin : 0
}
