td{

   width: 20px;
   height: 20px;
   border: 1px solid black;
}
tr{
   display: flex;
}

table{
   margin: 20px auto 0 auto;
}
body{
   text-align: center;
}

image{
    margin : 0
}
h1{
   text-shadow: 0.1em 0.1em 0.2em #808080
}

html{
   background-color: #EFEEEE;
}